
@{
    ViewBag.Title = "AllNaat";
}

<div>
    <b>User ID : </b> @Session["uid"]
    ----------------------------------------
    <b>Full Name : </b>@Session["fn"]
    <br />

    <b>Album No: @Request.QueryString["ano"]</b>
    <b>Title: @Request.QueryString["title"]</b>
</div>

<h2>All Naat</h2>

<div>

</div>

@Html.ActionLink("Create New Naat", "CreateNaat")
