@{
    ViewBag.Title = "Dashboard";
}
<b>User ID : </b> @Session["uid"]
<br />
<b>Full Name : </b>@Session["fn"]
<br />

<h2 align =" center" >User Dashboard</h2>

<div style=" border : 2px solid black">
    @Html.ActionLink("All NaatKhuwaan", "AllNaatKhuwaan" , "NaatKhuwaan") 
    @Html.ActionLink("Add Album", "CreateAlbum", "Album")
    @Html.ActionLink("Show Albums", "ShowAlbums", "Album", new { nid = Session["uid"] }) @*nid is a query string object*@
</div>