@model NaatWebApp.Models.NaatKhuwaan

@{
    ViewBag.Title = "SignUp";
    var cities = new List<SelectListItem>();
    cities.Add(new SelectListItem { Text = "Rawalpindi", Value = "Rawalpindi" });
    cities.Add(new SelectListItem { Text = "Islamabad", Value = "Islamabad" });
    cities.Add(new SelectListItem { Text = "Lahore", Value = "Lahore" });
    cities.Add(new SelectListItem { Text = "Karachi", Value = "Karachi" });

}

<h2>NaatKhawaanSignUp</h2>

@using (Html.BeginForm()) //if method is not mentioed than it will be post method
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NaatKhawaan</h4>
        <hr />
      
        <div class="form-group">
            @Html.LabelFor(model => model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.city, cities , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.gender, "M", new { htmlAttributes = new { @class = "form-control" } }) <b>Male</b>
                @Html.RadioButtonFor(model => model.gender, "f", new { htmlAttributes = new { @class = "form-control" } })<b>Female</b>
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.alive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.alive)
                    @Html.ValidationMessageFor(model => model.alive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (IsPost)
            {
                <b>Your ID is  </b>@Model.nid<br /> //the "M" of Model should be capital when accessing data
                <b>Your Password is </b>@Model.password<br />
            }

<div>
    @Html.ActionLink("Login", "Signin")
</div>
