@model IEnumerable<NaatWebApp.Models.Albums>

@{
    ViewBag.Title = "ShowAlbums";
}
<b>User ID : </b> @Session["uid"]
<br />
<b>Full Name : </b>@Session["fn"]
<br />
<h2>All Albums</h2>

<p>
    @Html.ActionLink("Create New Album", "CreateAlbum")
</p>

    <div class="container">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <img src=@item.filepath height="150" width="150" />

                @Html.DisplayFor(modelItem => item.ano)

                @Html.DisplayFor(modelItem => item.aname)

                @Html.DisplayFor(modelItem => item.year)

            </div>

        }
    </div>

