@model IEnumerable<NaatWebApp.Models.Albums>

@{
    ViewBag.Title = "ShowAlbums";
}
<b>User ID : </b> @Session["uid"]
<br />
<b>Full Name : </b>@Session["fn"]
<br />
<h2>All Albums</h2>

<p>
    @Html.ActionLink("Create New Album", "CreateAlbum")
</p>


    <div class="container">
        @foreach (var item in Model)
        {

    <div class="col-lg-3">
    <a href="/Naat/AddNaat?">
        <img src="@item.filepath" style="width:100px;height:100px;padding:10px;" />
    </a>
        <p><b>Album No:</b>@item.ano</p>
        <p><b>Title:</b>@item.aname</p>
    </div>

        }

    </div>
